<div class="container">
    <div class="navbar">
        <div class="navbar-logo">
            <img src="http://centrequestre.com/wp-content/uploads/2015/07/Arkadia.jpg" class="avatar" height=50 width=50>
        </div>
        <div class="navbar-right">
            <ul>
                <li><a href="http://google.fr">kebab</a></li>
                <li><a href="http://google.fr">vroum</a></li>
            </ul>
        </div>
    </div

    <p>Look at this
    <button class="btn-blue">Boutton</button></p>

    <p>Look at this
    <img src="http://centrequestre.com/wp-content/uploads/2015/07/Arkadia.jpg" class="avatar" height=150 width=150>
    </p>

    <div class="card">
        <div class="card-header">
            <p>J'aime les kebab</p>
        </div>
        <div class="card-body">
        <p>Vive les liiicornes</p>
        </div>
        <div class="card-fotter">
        </div>
    </div>
</div>
