.btn-blue {
    color: black;
    border-style: solid;
    border-color: black;
    background-color: white;
    box-shadow: 1px 1px black;
    font-weight: 700;
    padding:8px;
    outline: none;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: rgb(212,212,212);
    cursor: pointer;
    position: relative;
    top: 4px;
    outline: none;
}
